.StudentImg {
    width: 280px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .StudentImg {
        width: 70%;
    }
}

@media only screen and (min-width: 1005px) {
    .StudentImg {
        width: 35%;
        
    }
}