.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.1);
        color: #2F1747;
        font-size: 17px !important;
        font-weight: 600 !important;
}

.navBar__left > a > img {
    width: 130px;
}

.navBar__right .MuiButton-root {
    border-radius: 8px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-weight: 100 !important;
}

.hamburgerAlt {
    display: none;
}

.btn {
    display: none;
}

.dropdown {
    display: block;
}

.mobile__dropdown {
    display: block;
}

@media only screen and (min-width: 768px) {
    .navBar {
        box-shadow:none;
    }

    .navBar__left > a > img {
        width: 160px;
    }

    .dropdown {
        display: none;
    }

    .hamburger {
        display: none !important;
    }

    .hamburgerAlt {
        display: flex;
    }

    .btn {
        display: flex;
    }

    .navBar__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left {
        padding-left: 50px;
    }

    .navBar__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .right {
        padding-right: 50px;
    }

}

@media only screen and (min-width: 1200px) {
    .navBar {
        padding: 20px 80px;
    }
}
